<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Movies</title>
    </head>
    <body>
        <header>Movies Now Playing</header> 
      
        <div class>
            <% movies.forEach((el)=>{ %>
                <div class="card">
                    <img src= <%='https://image.tmdb.org/t/p/w185'+ el[1] %>>
                    <div>
                        <h2> Title: <%= el[0] %> </h5>
                        <p> Overview: <%= el[2] %> </p>
                    </div>
                </div>
            <%})%>
        </div>
        
        <div>
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>

